---
import { LOGO_IMAGE, SITE } from "@config";
import LinkButton from "./LinkButton.astro";

export interface Props {
  activeNav?:
    | "posts"
    | "about"
    | "search"
    | "newsletter"
    | "coaching"
    | "projets";
}

const { activeNav } = Astro.props;
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href="/" class="logo mono whitespace-nowrap">
        {
          LOGO_IMAGE.enable ? (
            <img
              src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
              alt={SITE.title}
              width={LOGO_IMAGE.width}
              height={LOGO_IMAGE.height}
            />
          ) : (
            SITE.title
          )
        }
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items" class="display-none mono sm:flex">
          <li>
            <a href="/posts/" class={activeNav === "posts" ? "active" : ""}>
              Posts
            </a>
          </li>
          <li>
            <a
              href="/newsletter/"
              class={activeNav === "newsletter" ? "active" : ""}
            >
              Newsletter
            </a>
          </li>
          <li>
            <a
              href="/coaching/"
              class={activeNav === "coaching" ? "active" : ""}
            >
              Coaching
            </a>
          </li>
          <li>
            <LinkButton
              href="/search/"
              className={`focus-outline p-3 sm:p-1 ${
                activeNav === "search" ? "active" : ""
              } flex`}
              ariaLabel="search"
              title="Search"
            >
              <svg
                class="scale-125 sm:scale-100"
                viewBox="0 0 33 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_1128_11711)">
                  <path
                    d="M25.2301 19.81H23.7001V22.86H20.6601V24.38H17.6101V25.9H22.1801V27.43H23.7001V28.95H25.2301V30.48H26.7501V32H28.2801V30.48H29.8001V28.95H31.3201V27.43H32.8501V25.9H31.3201V24.38H29.8001V22.86H28.2801V21.33H26.7501V16.76H25.2301V19.81Z"
                  ></path>
                  <path d="M28.2801 10.67H26.7501V16.76H28.2801V10.67Z"></path>
                  <path d="M26.7501 7.62H25.2301V10.67H26.7501V7.62Z"></path>
                  <path d="M25.2301 4.57001H23.7001V7.62001H25.2301V4.57001Z"
                  ></path>
                  <path d="M23.7001 12.19H22.1801V15.24H23.7001V12.19Z"></path>
                  <path d="M22.1802 9.14H20.6602V12.19H22.1802V9.14Z"></path>
                  <path d="M23.7002 3.05H20.6602V4.57H23.7002V3.05Z"></path>
                  <path d="M20.6601 7.62H17.6101V9.14H20.6601V7.62Z"></path>
                  <path d="M20.6601 1.52H17.6101V3.05H20.6601V1.52Z"></path>
                  <path d="M17.6101 6.10001H14.5601V7.62001H17.6101V6.10001Z"
                  ></path>
                  <path d="M17.6101 25.9H11.5101V27.43H17.6101V25.9Z"></path>
                  <path d="M17.6101 0H11.5101V1.52H17.6101V0Z"></path>
                  <path d="M11.5101 24.38H8.47009V25.9H11.5101V24.38Z"></path>
                  <path d="M11.5101 1.52H8.47009V3.05H11.5101V1.52Z"></path>
                  <path d="M8.47004 22.86H5.42004V24.38H8.47004V22.86Z"></path>
                  <path d="M8.47004 3.05H5.42004V4.57H8.47004V3.05Z"></path>
                  <path d="M5.42015 19.81H3.90015V22.86H5.42015V19.81Z"></path>
                  <path d="M5.42015 4.57001H3.90015V7.62001H5.42015V4.57001Z"
                  ></path>
                  <path d="M3.90012 16.76H2.37012V19.81H3.90012V16.76Z"></path>
                  <path d="M3.90012 7.62H2.37012V10.67H3.90012V7.62Z"></path>
                  <path d="M2.3701 10.67H0.850098V16.76H2.3701V10.67Z"></path>
                </g>
                <defs>
                  <clipPath id="clip0_1128_11711">
                    <rect
                      width="32"
                      height="32"
                      fill="white"
                      transform="translate(0.850098)"></rect>
                  </clipPath>
                </defs>
              </svg>

              <span class="sr-only">Search</span>
            </LinkButton>
          </li>
          {
            SITE.lightAndDarkMode && (
              <li>
                <button
                  id="theme-btn"
                  class="focus-outline"
                  title="Toggles light & dark"
                  aria-label="auto"
                  aria-live="polite"
                >
                  <svg
                    width="33"
                    height="32"
                    viewBox="0 0 33 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    id="moon-svg"
                  >
                    <g clip-path="url(#clip0_1128_10834)">
                      <path
                        d="M32.8501 3.04999H31.3301V28.95H32.8501V3.04999Z"
                        fill="#000001"
                      />
                      <path
                        d="M31.33 28.95H29.8V30.48H31.33V28.95Z"
                        fill="#000001"
                      />
                      <path
                        d="M31.33 1.51999H29.8V3.04999H31.33V1.51999Z"
                        fill="#000001"
                      />
                      <path
                        d="M29.8002 25.9H28.2802V27.43H29.8002V25.9Z"
                        fill="#000001"
                      />
                      <path
                        d="M29.8002 4.57001H28.2802V6.09001H29.8002V4.57001Z"
                        fill="#000001"
                      />
                      <path
                        d="M29.8001 30.48H3.90015V32H29.8001V30.48Z"
                        fill="#000001"
                      />
                      <path
                        d="M23.7101 6.08999H20.6601V4.56999H19.1401V3.04999H8.47007V4.56999H16.0901V6.08999H8.47007V4.56999H6.95007V9.13999H8.47007V7.61999H19.1401V9.13999H20.6601V10.67H22.1901V12.19H23.7101V13.71H13.0401V12.19H11.5201V24.38H13.0401V15.24H23.7101V24.38H25.2301V7.61999H23.7101V6.08999Z"
                        fill="#000001"
                      />
                      <path
                        d="M23.71 24.38H13.04V25.9H23.71V24.38Z"
                        fill="#000001"
                      />
                      <path
                        d="M22.1902 19.81H20.6602V21.33H22.1902V19.81Z"
                        fill="#000001"
                      />
                      <path
                        d="M22.1902 16.76H20.6602V18.28H22.1902V16.76Z"
                        fill="#000001"
                      />
                      <path
                        d="M20.6601 21.33H16.0901V22.86H20.6601V21.33Z"
                        fill="#000001"
                      />
                      <path
                        d="M16.0901 19.81H14.5701V21.33H16.0901V19.81Z"
                        fill="#000001"
                      />
                      <path
                        d="M16.0901 16.76H14.5701V18.28H16.0901V16.76Z"
                        fill="#000001"
                      />
                      <path
                        d="M11.5201 10.67H10.0001V12.19H11.5201V10.67Z"
                        fill="#000001"
                      />
                      <path
                        d="M10.0001 9.14001H8.47009V10.67H10.0001V9.14001Z"
                        fill="#000001"
                      />
                      <path
                        d="M29.8001 0H3.90015V1.52H29.8001V0Z"
                        fill="#000001"
                      />
                      <path
                        d="M5.42015 25.9H3.90015V27.43H5.42015V25.9Z"
                        fill="#000001"
                      />
                      <path
                        d="M5.42015 4.57001H3.90015V6.09001H5.42015V4.57001Z"
                        fill="#000001"
                      />
                      <path
                        d="M3.90013 28.95H2.38013V30.48H3.90013V28.95Z"
                        fill="#000001"
                      />
                      <path
                        d="M3.90013 1.51999H2.38013V3.04999H3.90013V1.51999Z"
                        fill="#000001"
                      />
                      <path
                        d="M2.3801 3.04999H0.850098V28.95H2.3801V3.04999Z"
                        fill="#000001"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1128_10834">
                        <rect
                          width="32"
                          height="32"
                          fill="white"
                          transform="translate(0.850098)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    width="33"
                    height="32"
                    viewBox="0 0 33 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    id="sun-svg"
                  >
                    <g clip-path="url(#clip0_1128_10857)">
                      <path d="M32.8501 3.04999H31.3301V28.95H32.8501V3.04999Z" />
                      <path d="M31.33 28.95H29.8V30.48H31.33V28.95Z" />
                      <path d="M31.33 1.51999H29.8V3.04999H31.33V1.51999Z" />
                      <path d="M29.8002 25.9H28.2802V27.43H29.8002V25.9Z" />
                      <path d="M29.8002 4.57001H28.2802V6.09001H29.8002V4.57001Z" />
                      <path d="M29.8001 30.48H3.90015V32H29.8001V30.48Z" />
                      <path d="M23.7101 6.09H13.0401V7.62H11.5201V13.71H13.0401V12.19H22.1901V13.71H20.6601V15.24H19.1401V16.76H17.6101V18.28H8.47007V16.76H6.95007V21.33H8.47007V19.81H16.0901V21.33H8.47007V22.86H11.5201V24.38H13.0401V22.86H19.1401V21.33H20.6601V18.28H22.1901V16.76H23.7101V24.38H25.2301V7.62H23.7101V6.09Z" />
                      <path d="M23.71 24.38H13.04V25.9H23.71V24.38Z" />
                      <path d="M11.5201 13.71H10.0001V15.24H11.5201V13.71Z" />
                      <path d="M10.0001 15.24H8.47009V16.76H10.0001V15.24Z" />
                      <path d="M29.8001 0H3.90015V1.52H29.8001V0Z" />
                      <path d="M5.42015 25.9H3.90015V27.43H5.42015V25.9Z" />
                      <path d="M5.42015 4.57001H3.90015V6.09001H5.42015V4.57001Z" />
                      <path d="M3.90013 28.95H2.38013V30.48H3.90013V28.95Z" />
                      <path d="M3.90013 1.51999H2.38013V3.04999H3.90013V1.51999Z" />
                      <path d="M2.3801 3.04999H0.850098V28.95H2.3801V3.04999Z" />
                    </g>
                    <defs>
                      <clipPath id="clip0_1128_10857">
                        <rect
                          width="32"
                          height="32"
                          fill="white"
                          transform="translate(0.850098)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </button>
              </li>
            )
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-8;
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<script>
  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("display-none");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
